.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  margin-bottom: 100px;
}

.mainNav {
  display: flex;
  width: 90%;
  color: white;
}

.leftNav {
  flex-basis: 30%;
  background: #155c6e;
  border: black solid 1px;
  border-radius: 5px;
  padding-top: 30px;
}

.listSideNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.listSideNav li {
  margin-left: 20px;
}

.rightNav {
  display: flex;
  margin-left: 30px;
  flex-basis: 70%;
}
