.checkout {
  display: flex;
  color: white;
  padding: 30px;
  height: max-content;
}

.checkoutTitle {
  margin-right: 10px;
}

.checkoutLeft {
  flex-basis: 50%;
}

.checkoutRight {
  flex-basis: 50%;
}
