.checkout {
  display: flex;
  color: white;
  height: max-content;
  margin: 0 50px;
}

.checkoutTitle {
  margin-right: 10px;
}

.checkoutLeft {
  flex-basis: 50%;
}

.checkoutRight {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}
