.mobileNavbar {
  position: relative; /* Position relative to its parent */
}

.hamburgerMenu {
  cursor: pointer;
  padding: 5px;
}

.hamburgerIcon {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.open {
  transform: rotate(45deg);
}

.navLinks {
  display: block;
  width: 100%;
  background-color: #333;
  padding: 10px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's above other content */
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  padding: 8px;
  display: block; /* Make each link a block element */
  transition: background-color 0.3s ease;
}

.navLinks a:hover {
  background-color: #555;
}

@media (width >= 1001px) {
  .mobileNavbar {
    display: none;
  }
}
