/* ProductCard.module.css */
.productCard {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 180px;
  height: 300px; /* Fixed card height */
}

.productCard img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.productCard h3 {
  margin-bottom: 5px; /* Adjust as needed */
  font-size: 20px; /* Adjust the font size */
}

.productCard p {
  font-size: 14px; /* Adjust the font size */
  margin-bottom: 5px; /* Adjust as needed */
}

.productCard button {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 4px 64px;
  border-radius: 4px;
  cursor: pointer;
}

.productCard button:hover {
  background-color: #0056b3;
}
